.header{
  min-height: 150px;
  background-color: rgb(110, 110, 110);
}
.dashboard{
  min-height: 150px;
  background-color: rgb(159, 241, 7);
}
.roles{
  min-height: 150px;
  background-color: rgb(206, 206, 202);
}
.rowMain{
  min-height: 650px;
}
